{%extends "registration/base.html"%}
{% load static %} 

{% load bootstrap3 %}
{% block content %}

<div id="wrapper" id="content">
  <div class="container">
      <div class="form-data">
          <form action="/accounts/login/" method="post">
              {% csrf_token %}
            
              {% bootstrap_form form%}
              <button class="form-btn" type="submit">Login</button>
            
              <a href="#" class="password-reset">Forgot password?</a>
              <input type="hidden" name="next" value="{{next}}">
          </form>
          <div class="sign-up">
              Don't have an account?  <a href="/accounts/register/" class="ml-2">Sign Up</a>
          </div>
      </div>
  </div>
  <footer>
 
  </footer>
{% endblock %}