{% extends 'base.html' %}

{% block title %}
    <title>Employee List</title>
{% endblock title %}

{% block content %}
    <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em;">Employees Information</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Salary</th>
                <th scope="col">Join Date</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in emp %}
                <tr>
                    <th scope="row">{{ employee.emp_name }}</th>
                    <td>{{ employee.emp_dept }}</td>
                    <td>{{ employee.emp_salary }}</td>
                    <td>{{ employee.date_join }}</td>
                    <td>{{ employee.emp_address }}</td>
                    <td>
                        <a style="margin-right: 30px;" href="{% url 'edit_emp' %}">Edit</a>
                        <a href="{% url 'delete_emp' %}">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{% url 'create_emp' %}"><button type="button" class="btn btn-primary">Add New Info</button></a>
    </div>
{% endblock content %}